{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} create  {% endblock %}

{% block content %}
<main>
    <br>
<div class="form_center">
    <h1>Crie uma Receita</h1>
</div>
    <div class="form_center">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy  }}
            <br>
            <div class="form_center">
                <button type="submit" class="btn btn-dark">Enviar</button>
            </div>
        </form>
    </div>
  
</main>
{% endblock %}