{% extends 'base.html' %}
{% block title %} index  {% endblock %}
{% block content %}
<div class="container">
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <h4>Despesas Anuais</h4>
            <canvas id="despesasanuais"  width="250" height="200"> </canvas>
          </div>
          <div class="col">
            <h4>Receitas Anuais</h4>
            <canvas id="receitasanuais"  width="250" height="200"> </canvas>
          </div>
          <div class="col">
            <h4>Receitas x Despesas</h4>
            <canvas id="receitavsdespesa"  width="250" height="200"> </canvas>
          </div>
        </div>
    </div>
</div>
<script>
    window.onload = function(e){
     grafico_despesas_anuais('{% url "despesasanuais" %}')
     grafico_receitas_anuais('{% url "receitasanuais" %}')
     receitavsdespesa('{% url "receitasvsdespesas" %}')
    }
 </script>
{% endblock %}