{% extends 'base.html' %}
{% block title %} index  {% endblock %}
{% block content %}
<main>
<div class="container">
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <h4>Despesas Anuais</h4>
            <canvas id="despesasanuais"  width="250" height="200"> </canvas>
          </div>
          <div class="col">
            <h4>Receitas Anuais</h4>
            <canvas id="receitasanuais"  width="250" height="200"> </canvas>
          </div>
          <div class="col">
            <h4>Receitas x Despesas</h4>
            <canvas id="receitavsdespesa"  width="250" height="200"> </canvas>
          </div>
        </div>
    </div>
    <br>
    <div class="row align-items-center">
      <div class="col">
        <div class="form_center">
        <h4>Despesas por Categoria</h4>
        </div>
        <canvas id="categoriadispesa"  width="250" height="200"> </canvas>
      </div>
      <div class="col">
        <div class="form_center">
        <h4>Receitas por Categoria</h4>
        </div>
        <canvas id="categoriareceita"  width="250" height="200"> </canvas>
      </div>
    </div>
</div>
</main>
<script>
    window.onload = function(e){
     grafico_despesas_anuais('{% url "despesasanuais" %}')
     grafico_receitas_anuais('{% url "receitasanuais" %}')
     receitavsdespesa('{% url "receitasvsdespesas" %}')
     graficos_categoria_despesas('{% url "categoriadespesa" %}')
     graficos_categoria_receitas('{% url "categoriareceita" %}')
    }
 </script>
{% endblock %}